@model PC 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        <li>GPU @Model.GPU.Name</li>
        <li>CPU @Model.CPU.Name</li>
        <li>PSU @Model.PSU.Name</li>
        <li>Mother Board @Model.Motherboard.Name</li>
        <li>HardDrive @Model.Harddrive.Name</li>
        <li>RAM @Model.RAM.Name</li>
        <li>Case @Model.Case.Name</li>
    </ul>
    
</div>

