@model PCPartTracker.ViewModels.PCViewModel;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            PCs
        </th>
        <th></th>
    </tr>

    @foreach (PC pc in Model.PCs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => pc.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", pc) |
                @Html.ActionLink("Details", "Details", pc) |
                @Html.ActionLink("Delete", "Delete", pc)
            </td>
        </tr>
    }

</table>



